*{
  margin: 0px;
  padding: 0px;;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container
{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: linear-gradient(to bottom, rgb(6, 108, 224),  rgb(14, 48, 122));
  width: 800px;
  height: 500px;
  margin: 10% auto;;
  border-radius: 5px;
}

.bg-green {
  background: linear-gradient(to bottom, rgb(56, 189, 149),  rgb(28, 139, 106));
}
.content-holder
{
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 15%;
  padding: 50px;
}

.content-holder h2
{
  font-size: 34px;
  margin: 20px auto;
}

.content-holder p
{
  margin: 30px auto;
}

.content-holder button
{
  border:none;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  width: 150px;
  margin: 20px auto;
}

.form-container{
  background-color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container
{
  text-align: center;
}

.login-form-container p
{
  color: black;
  font-size: 24px;
  padding: 20px;
}

.input-field
{
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgb(168, 168, 168);
  width: 250px;
  outline: none;
  margin: 10px 0px;
  display: block;
}

.login-button{
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  padding: 13px;
  border-radius: 7px;
  border: none;
  width: 250px;
  outline: none;
  background-color: rgb(56, 102, 189);
}


.login-form-container,
.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}


.signup-form-container p
{
  color: black;
  font-size: 24px;
  padding: 20px;
}

.sign-up-button{
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  padding: 13px;
  border-radius: 7px;
  border: none;
  width: 250px;
  outline: none;
  background-color: rgb(56, 189, 149);  
}

.checkbox-field {
  margin: 10px 0px;
  width: 250px;
}

.checkbox-field input[type="checkbox"] {
  margin-right: 5px;
}